@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Nova+Round&family=Squada+One&display=swap');


/*rootear la pagina*/
:root {
    --colornegro: #0B0A0A;
    --colorgris: #B5B5B5;
    --colorblanco: #FFFFFF;
    --coloramarillo: #FED601;
    --colorfondo: #292928;

    --fontnunito: "Nunito", sans-serif;
    --fontSquadaOne: "Squada One", sans-serif;
    --fontLibreBarcode39Text: "Libre Barcode 39 Text", system-ui;
    --fontNovaRound: "Nova Round", system-ui;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fontnunito);
    font-size: 12px;
}


/*estilo de toda la pagina*/

h1,

h2,

h3,

h4,

h5,

h6 h1 {
    font-size: 3.5rem;

}

h2 {
    font-size: 3rem;
    font-family: var(--fontNovaRound);
    color: var(--colorblanco);

}

h3 {
    font-size: 8rem;
    font-family: var(--fontLibreBarcode39Text);


}

h4 {
    font-size: 3rem;
    font-family: var(--fontSquadaOne);

}

h5 {
    font-size: 1.8rem;
    color: var(--coloramarillo);
}

h6 {
    font-weight: 2rem;
    text-transform: uppercase;
}

p {
    font-size: 1rem;

}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    padding: 7px 25px;
    border-radius: 100px;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 600;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 80px;
}

.btn1 {
    background-color: var(--coloramarillo);
    color: var(--colornegro);
    border: 2px solid var(--coloramarillo);
}

.btn1:hover {
    background-color: var(--colornegro);
    color: var(--coloramarillo);
    border: 2px solid var(--coloramarillo);
}


.btn2 {
    background-color: var(--colornegro);
    color: var(--colorblanco);
    border: 2px solid var(--colornegro);
}

.btn2:hover {
    background-color: var(--colorfondo);
    color: var(--coloramarillo);
    border: 2px solid var(--colorfondo);
}

.grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}


.btn3 {
    width: 150px;
    height: 60px;
    background-color: var(--colornegro);
    color: var(--colorblanco);
    border-radius: 1% solid var(--colornegro);
}

.btn3:hover {
    width: 150px;
    height: 60px;
    background-color: var(--coloramarillo);
    color: var(--colornegro);
    border-radius: 1% solid var(--coloramarillo);
}

.grid_3 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 80px;
}



.grip_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
}


@media (max-width: 767px) {

    /* Contenedor */
    .container2 {
        padding: 80px 50px;
    }

    /* Modificar tamaño de h */

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
        font-family: var(--fontNovaRound);
        color: var(--colorblanco);
    }

    h3 {
        font-size: 8rem;
        font-family: var(--fontLibreBarcode39Text);
    }

    h4 {
        font-size: 3rem;
        font-family: var(--fontSquadaOne);
    }

    h5 {
        font-size: 1.8rem;
        color: var(--coloramarillo);
    }

    h6 {
        font-weight: 900px;
        text-transform: uppercase;
    }

    /* Modificar 2 columnas a 1 columna */

    .grid_4 {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .grid_3 {
        grid-template-columns: 1fr;
    }
}