@import url(styles.css);
.lista_datos_1 {
    display: flex;
    gap: 25px;
}

.lista_datos_imagen {
    width: 75px;
    height: 75px;
    background-color: rgb(65, 64, 62);
    border-radius: 10px;
}