footer {
    background-color: var(--colorazul);
}

.footer {
    display: flex;
    justify-content: space-between;
    color: var(--colorblanco);
    padding: 30px 80px;
    align-items: center;
    
    & .politicas {
        display: flex;
        gap: 50px;

        & a {
            color: var(--colorblanco);
        }

        & a:hover {
            color: var(--colorverdechillon);
        }
    }
}

@media (max-width: 1023px) {
    .footer {
        gap: 25px;

        & .politicas {
            flex-direction: column;
            gap: 25px;
          
        }
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 25px;

        & .politicas {
            flex-direction: column;
            gap: 25px;
            text-align: center;
        }
    }
}