@import url(styles.css);

.servicios_titulo h1 {
    text-align: center;
    color: var(--colorverde);
    padding: 60px;
}

.servicio_texto {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: none;
    padding: 30px;
    
    & h5 {
        color: var(--colorazulchillon);

    }

    & li {
        text-align: none;
        width: 390px;
    }

}

.servicio_foto img {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left
 
}

#servicios {
    background-color: var(--colorverdeagua);
}

.servicios {
    width: 1300px;
}

@media (max-width: 1023px) {
    
    .servicios_titulo h1 {
        display: flex;
        text-align: center;
        color: var(--colorverde);
        padding: 60px;
    }
    
    .servicio_texto {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: none;
        padding: 30px;
        
        & h5 {
            color: var(--colorazulchillon);
    
        }
    
        & li {
            text-align: none;
            width: 390px;
        }
    
    }
    
    .servicio_foto img {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left
     
    }
    
    #servicios {
        background-color: var(--colorverdeagua);
    }
    
    .servicios {
        width: 1300px;
    }
}

@media (max-width: 767px) {

    .servicios_titulo h1 {
        display: flex;
        text-align: center;
        color: var(--colorverde);
        padding: 60px;
    }
    
    .servicio_texto {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: none;
        padding: 30px;
        
        & h5 {
            color: var(--colorazulchillon);
    
        }
    
        & li {
            text-align: none;
            width: 390px;
        }
    
    }
    
    .servicio_foto img {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left
     
    }
    
    #servicios {
        background-color: var(--colorverdeagua);
    }
    
    .servicios {
        width: 1300px;
    }
}